*{
  box-sizing: border-box;
  color: whitesmoke;
}
li{
  list-style: none;
  background-color: aqua;
}
button{
  background-color:  rgb(255, 0, 81);
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: aqua;
  position: relative;
  
  
}


.totalAudio{
  position: absolute;
  padding: 2%;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 0, 81);
  display: grid;
  grid-template-columns: 100px auto 200px;
  /* grid-template-rows:200px 1fr; */
  align-items: center;
  background-image: url('');
  background-size: 500px;
  /* background-position:inherit; */
  /* background-image: url('./assets/music\ img.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  
}
.input{
 

  
}

button{
  color: rgb(255, 0, 81);
  background: #fff;
  box-shadow: 0px 2px 7px #bcbccc ;
  border: none;
}
.playlist{
  max-width: 500px;
  /* height: 80vh; */
  justify-self: center;
  color: aqua;
  
  
  
}
.eachItem{
  display: flex;
  justify-content: center;
}

button{
  margin-bottom: 2px;

}

.audio{
  width: 150px;
  height: 50px;
  
}

/*small screen*/

@media screen and (max-width:768px){
  .totalAudio{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    align-items: center;
    
    
  }
  .input{
    width: 100px;
    height: 50px;
    align-self: center;
    margin-top: 15px;
    
    
    
  }
  .playlist{
    max-width: 300px;
    /* height: 80vh; */
    align-self: center;
    order: 2;
   

  
    
    
  }
  .audio{
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
   
  }
  
}


